<div #expression class="display">
  <div *ngFor="let op of history">
    <div class="expression history" [mathjax]="'$' + op[0] + '$'">
      <!-- {{op[0]}} -->
    </div>
    <div class="answer history" [mathjax]="'$' + op[1] + '$'"> <!-- fraction images cut off !-->
      <!-- {{op[1]}} -->
    </div>
  </div>
  <div class="expression latest" [mathjax]="'$' + display + '$'">
    <!-- {{display}} -->
  </div>
  <div class="answer latest" [mathjax]="'$' + answer + '$'">
    <!-- {{answer}} -->
  </div>
</div>

<app-calc-button-layout [mode]=this.mode [keyboardDisplayed]=this.keyboardMode></app-calc-button-layout>