<div #expression class="display">
  <div *ngFor="let op of history">
    <div class="expression history">
      <ng-katex [equation]="op[0]"></ng-katex>
    </div>
    <div class="answer history"> <!-- fraction images cut off !-->
      <ng-katex [equation]="op[1]"></ng-katex>
    </div>
  </div>
  <div class="expression latest">
    <ng-katex [equation]="display"></ng-katex>
  </div>
  <div class="answer latest" >
    <ng-katex [equation]="answer"></ng-katex>
  </div>
</div>

<app-calc-button-layout [mode]=this.mode [keyboardDisplayed]=this.keyboardMode></app-calc-button-layout>