<ion-header>
  <ion-toolbar>
    <ion-title>Room List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Header -->
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Code</ion-col>
      <ion-col>Students</ion-col>
      <ion-col>Status</ion-col>
    </ion-row>

    <!-- Table Body -->
    <ion-row *ngFor="let room of rooms; let i=index" (click)="selectRow(i)">
      <ion-col>
        {{room.name}}
      </ion-col>
      <ion-col>
        {{room.code}}
      </ion-col>
      <ion-col>
        <strong class="count">{{room.student.items.length}}</strong>
        (<span *ngIf="room.student.items.length >= 1" class="student-name" [ngClass]="room.student.items[0].status">{{room.student.items[0].name}}</span><span *ngIf="room.student.items.length == 1">)</span>
        <span *ngIf="room.student.items.length >= 2" class="student-name" [ngClass]="room.student.items[1].status"> {{room.student.items[1].name}}</span><span *ngIf="room.student.items.length == 2">)</span>
        <span *ngIf="room.student.items.length >= 3" class="student-name">...)</span>
      </ion-col>
      <ion-col>
        {{room.status}}
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <create-room-button></create-room-button>

</ion-content>
