<ion-header>
  <ion-toolbar>
    <ion-title>Room List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Code</ion-col>
      <ion-col>Students</ion-col>
      <ion-col>Status</ion-col>
    </ion-row>

    <!-- Table Body -->
    <ion-row *ngFor="let room of rooms; let i=index" (click)="selectRow(i)">
      <ion-col>
        {{room.teacher}}
      </ion-col>
      <ion-col>
        {{room.id}}
      </ion-col>
      <ion-col>
        {{room.status}}
      </ion-col>
    </ion-row>
    <!-- add a name column next, make sure it links to store -->
    
  </ion-grid>
</ion-content>
