button {
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    background-color: ivory;
    border: 1px solid grey;
    margin: 0 auto;
    font-size: 1.2rem;
}

.secondary-display {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    // margin-top: -10px;
    font-size: 0.6rem;
}

.large {
    font-size: 1.8rem;
}

.small {
    font-size: 1rem;
    height: 2.5rem;
}

.default {
    background-color: whitesmoke;
}

.primary {
    background-color: darkgray;
    color: white;
}

.secondary {
    background-color: lightgray;
}

.tertiary {
    background-color: navy;
    color: white;
}